:root {

  
    --maximum-yellow-red: hsl(37, 100%, 68%);
    --royal-blue-dark: hsl(231, 61%, 22%);
    --silver-chalice: hsl(0, 0%, 70%);
    --oxford-blue: hsl(231, 100%, 8%);
    --bittersweet: hsl(2, 100%, 69%);
    --french-rose: hsl(342, 90%, 61%);
    --davys-gray: hsl(180, 3%, 28%);
    --cool-gray: hsl(240, 13%, 62%);
    --platinum: hsl(0, 0%, 92%);
    --white-2: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --rythm: hsl(240, 9%, 53%);

    --ff-poppins: "Poppins", sans-sarif;
  
    --fs-1: 32px;
    --fs-2: 26px;
    --fs-3: 22px;
    --fs-4: 18px;
    --fs-5: 15px;
    --fs-6: 14px;
  
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

  }

  a,
img,
button,
span,
ion-icon,
label,
input,
textarea { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

img{

}

textarea,
input {
  font: inherit;
  background: none;
  border: none;
  width: 100%;
}

:is(input, textarea):focus { outline: none; }

:focus { outline-offset: 4px; }

.contact { margin-bottom: 120px; padding-left: 10px;}

.contact-content { margin-bottom: 50px; }

.contact-title {
  color: var(--royal-blue-dark);
  margin-left: 40px;

  text-align: center;
  width: fit-content;
  font-weight: var(--fw-500) !important;
}

.contact-banner img { 
  padding-left: 20px;
  width: 70%; 
  height: 70%;}

.contact-bottom {
  display: flex;
  width: 100%;
  
}

.contact-form {
  width: 100%;



}

.input-wrapper { 
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }

.input-label {
  color: var(--oxford-blue);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
  width: fit-content;
}

.input-field {
  border-bottom: 1px solid var(--platinum);
  padding: 7px 0;
  font-size: var(--fs-6);
 
}

.input-field::placeholder { color: var(--silver-chalice); }

textarea {
  max-height: 300px;
  min-height: 100px;
  height: 100px;
  resize: vertical;
}

@media (min-width: 350px) {
  .container{
    margin-top: 100px;
  }
  .contact-form{
    margin-top: 0px;
  }
}

@media (max-width: 350px){
  .contact-form{
    margin-top: 0px;
    padding-left: 5px;
  }
}

@media (min-width: 450px){
    :root {
    
        --fs-1: 60px;
    
      }
      
      .contact-banner{
        width: 100%;
        height: 100%;
      }

      .h1,
      .h2 { font-weight: var(--fw-700); }
    
      .btn { padding-block: 15px; }
    
    .contact-title { --fs-2: 32px; }

    .contact-banner {
      max-width: 300px;
      margin-inline: auto;
    }

 
}

@media (min-width: 560px){
    .contact-banner{
        width: 100%;
        height: 100%;
      }
    .container {
        max-width: 550px;
        margin-inline: auto;
      }
    
}

@media (min-width: 768px){
    .contact-banner{
        width: 100%;
        height: 100%;
      }
    :root {

        --fs-2: 35px;
        --fs-4: 20px;
    
      }
      .container { max-width: 740px; }
    
}

@media (min-width: 1024px){
    .contact-banner{
        width: 100%;
        height: 100%;
      }
    .container { max-width: 950px; }

    
  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .contact-content { max-width: 400px; }

  .contact-title { text-align: left; }

  .contact-form { width: 100%; }

}

@media (min-width: 1200px) {


    :root {
  
      --fs-2: 42px;
  
    }

    .container { max-width: 1150px; }
  
  }


  .btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-primary{
    width: fit-content;
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 15px;
  }

  @media(max-width: 500px){
    .btn-primary{ height: 50px;}
  }

  .btn-primary:hover{
    background-color: rgb(57, 57, 200);
  }